<div class="editar-usr-container">
  <div class="editar-usr-editar-usr">

    <div id="overlay">
      <form action="" method="post">
        <div class="editar-usr-cross">
          <img alt="Vector9541" src="/assets/playground_assets/vector9541-9mwhx.svg" class="editar-usr-vector" />
        </div>

        <h5> Editar Usuario</h5>
        <br>

        <label for="name"> Nombre: </label>
        <input type="text" id="name" name="name" placeholder="Nombre">
        <small class="error"></small>

        <label for="last"> Apellido Paterno: </label>
        <input type="text" id="last" name="last" placeholder="Apellidos Paterno">
        <small class="error"></small>

        <label for="lastM"> Apellido Materno: </label>
        <input type="text" id="lastM" name="lastM" placeholder="Apellidos Materno">
        <small class="error"></small>

        <label for="tel"> Numero de Telefono: </label>
        <input type="tel" id="tel" name="tel" placeholder="5512345678">
        <small class="error"></small>

        <label for="rol"> Rol: </label>
        <select id="ops">
          <option value="Administrador"></option>
          <option value="Alumno"></option>
          <option value="Proveedor"></option>          
        </select>
        

        <!-- hidden box -->
        <input type="hidden" id="vflag" value="no">

        <br><br>
        <!--<button type="button" onclick="return validateForm()">Confirmar</button>-->
        <div class="center">
          <input type="submit" value="Actualizar">
        </div>
        <p id="success"></p>
        <div class="center">
          <button type="button" routerLink="" value="PumaPuntos"></button>
        </div>
      </form>
    </div>
  </div>