<div class="rectangle-1">
    <div class="navegacion">
        <div class="verPerfil">
            <img src="/assets/images/prometeo.png" alt="imagenPerfil" class="imagenPerfil">
            <div class="nombreUsuario">User Full Name</div>
            <button class="botonVerPerfil">
                <img src="/assets/images/botonVerPerfil.svg" alt="botonVerPerfil" class="botonVerPerfilImg">
                <div class="botonVerPerfilNombre">
                    <img src="/assets/images/ojito.svg" alt="ojito jsjsjs" class="ojito">
                    Ver Perfil
                </div>
            </button>
        </div>
        <button class="navegarInicio" routerLink="/productos" routerLinkActive="active">
            <img src="/assets/images/inicioIcon.svg" alt="inicioIcono" class="inicioIcono">
            <div class="inicio">Inicio</div>
        </button>
        <button class="navegarHistorial">
            <img src="/assets/images/historialIcon.svg" alt="historialIcono" class="historialIcono">
            <div class="historial">Historial de Productos</div>
        </button>
        <button class="navegarCerrarSesion">
            <img src="/assets/images/cerrarSesionIcon.svg" alt="cerrarSesionIcono">
            <div class="cerrarSesion">Cerrar Sesion</div>
        </button>
    </div>
</div>
