<div class="resultados">
    <div>
        
    </div>
    <table class="tabla">
        <thead>
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Puma puntos</th>
                <th scope="col">Codigo</th>
                <th scope="col">Unidades disponibles</th>
                <th scope="col">Ver Editar Rentar</th>
            </tr>
            <tr>
                <th scope="col">Chocopantera</th>
                <th scope="col">30</th>
                <th scope="col">1234567890QW</th>
                <th scope="col">2</th>
                <th scope="col">
                    <button type="button" class="acciones">Ver</button>
                </th>
            </tr>

            <!--
            <tr>
                <td *ngFor = "let producto of productos">
                    {{producto.nombre}}
                </td>
                <td scope="col">{{producto.precio}}</td>
                <td scope="col">{{producto.codigo}}</td>
                <td scope="col">{{producto.currentStock}}</td>
                <td scope="col">
                    <button type="button" class="acciones">Ver</button>
                    <button type="button" class="acciones">Editar</button>
                    <button type="button" class="acciones">Eliminar</button>
                </td>
            </tr>
            -->
        </thead>
    </table>
    <!--
    <div *ngFor = "let producto of productos">
        {{producto.nomre}}
        {{producto.precio}}
        {{producto.codigo}}
        {{producto.currentStock}}
    </div>
    -->
</div>