.editar-prod-container {
    top: 80px;
    width: 80%;
    left: 20%;
    position: absolute;
  }
  
  select {    
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    outline: none;
    resize: none;
    border-radius: 6px;    
    border: 1px solid #8a8a8a;  
    background-color: white;  
    color: black;
  }
  
  .editar-usr-cross {
    right: 30%;
    width: 20px;
    height: 20px;
    display: block;  
    position: absolute;  
    background-color: transparent;
  }
  
  #overlay {
    width: 100%;
    height: 100%;
    position: static;
    padding: 10%;      
    background-color: #00000071;
  }
  
  form {    
    max-width: 500px;
    width: 90%;
    background: #fff;
    margin: auto;
    padding: 40px;
    border-radius: 6px;
    box-sizing: border-box;
  }
  
  h1 {
    margin: 0;
    text-align: center;
  }
  
  label:not(.boxes label) {
    display: block;
    margin: 5px 0;
    font-size:medium;
  }
  
  input:not(.boxes input) {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    outline: none;
    resize: none;
    border: none;
    border-radius: 6px;
    border: 1px solid #8a8a8a;
    font-size: medium;
  }
  
  input[type="text"]:focus {
    border-bottom: 1px solid #bf9c5d;
  }
  
  .center {
    text-align: center;
  }
  
  input[type="submit"] {
    margin-top: 10px;
    width: 90%;
    max-width: 150px;
    background: #df9c5d;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 3px;    
    border: 1px solid transparent;
  }
  
  button {    
    width: 90%;
    max-width: 200px;
    height: 40px;
    color: #139bd1;
    font-style: Medium;
    font-family: 'Trebuchet MS', sans-serif;
    background-color: #fff;
    border-radius: 6px;
    border: 1px solid gray;
  }
  
  .error {
    display: block;
    margin: 5px 0;
    color: #f00;
  }
  
  .error-border {
    border-bottom: 1px solid #f00;
  }
  
  #success {
    color: #28A745;
  }