<div class="line"></div>
<div class="menu-admin-site">
    <div class="menu-div">
        <div class="menu-vector">
            <img alt="admin" src="/assets/playground_assets/frame28879-lh5.svg" />
        </div>
        <div class="menu-text">Administración del Sitio</div>
    </div>
    <a routerLinkActive="active" routerLink="usuarios">
        <div class="menu-op-admin">
            <div class="menu-vector">
                <img alt="ver-usr" src="/assets/playground_assets/users.svg" />
            </div>
            <div class="menu-text">Usuarios</div>
        </div>
    </a>
    <a routerLinkActive="active" routerLink="productos/srch-admin-prod">
        <div class="menu-op-admin">
            <div class="menu-vector">
                <img alt="ver-prod" src="/assets/playground_assets/box.svg" />
            </div>
            <div class="menu-text">Productos</div>
        </div>
    </a>
    <a routerLinkActive="active" routerLink="renta-admin">
        <div class="menu-op-admin">
            <div class="menu-vector">
                <img alt="ver-prod" src="/assets/playground_assets/tag.svg" />
            </div>
            <div class="menu-text">Rentas</div>
        </div>
    </a>
    <a routerLinkActive="active" routerLink="reportes">
        <div class="menu-op-admin">
            <div class="menu-vector">
                <img alt="reports" src="/assets/playground_assets/document.svg" />
            </div>
            <div class="menu-text">Reportes</div>
        </div>
    </a>
</div>