<div class="isolated-wallet-container">
  <img
    alt="Rectangle259603"
    src="assets/playground_assets/rectangle259603-tcck-600w.png"
    class="isolated-wallet-rectangle25"
  />
  <div class="isolated-wallet-btn1">
    <!--<span class="isolated-wallet-text"><span>Actualizar</span></span>-->
    <button type="button" class="btn btn-primary btn-lg btn-block">Actualizar</button>
  </div>
  <div class="isolated-wallet-cross">
    <img
      alt="Vector9603"
      src="assets/playground_assets/vector9603-xvf.svg"
      class="isolated-wallet-vector"
    />
  </div>
  <span class="isolated-wallet-text02"><span>Puma Puntos</span></span>
  <div class="isolated-wallet-card">
    <div class="isolated-wallet-cardbackgroundframe2"></div>
    <div class="isolated-wallet-cardbackgroundframe1"></div>
    <div class="isolated-wallet-cardframe">
      <span class="isolated-wallet-text04"><span>Balance Total</span></span>
      <span class="isolated-wallet-text06"><span>0321987654</span></span>
      <span class="isolated-wallet-text08"><span>Raúl Nuño Valdés</span></span>
      <span class="isolated-wallet-text10"><span>$122.00</span></span>
      <div class="isolated-wallet-eclispe">
        <img
          alt="Ellipse29603"
          src="assets/playground_assets/ellipse29603-kzu-200h.png"
          class="isolated-wallet-ellipse2"
        />
        <img
          alt="Ellipse19603"
          src="assets/playground_assets/ellipse19603-62ib-200h.png"
          class="isolated-wallet-ellipse1"
        />
      </div>
    </div>
  </div>
  <div class="isolated-wallet-sumar">
    <button type="button" class="btn btn-primary btn-sm"> + </button>
  </div>
  <div class="isolated-wallet-restar">
    <button type="button" class="btn btn-primary btn-sm"> - </button>
  </div>
  <div class="isolated-wallet-acumular">
    <div class="btn-group btn-group-toggle" data-toggle="buttons">
      <label class="btn btn-secondary active">
        <input type="radio" name="options" id="option1" autocomplete="off"> +10
      </label>
      <label class="btn btn-secondary">
        <input type="radio" name="options" id="option2" autocomplete="off"> +20
      </label>
      <label class="btn btn-secondary">
        <input type="radio" name="options" id="option3" autocomplete="off"> +30
      </label>
      <label class="btn btn-secondary">
        <input type="radio" name="options" id="option3" autocomplete="off"> +100
      </label>
    </div>
  </div>
  <div class="isolated-wallet-o-b-forms-nombre">
    <div class="isolated-wallet-o-b-forms-nombre1">
      <span class="isolated-wallet-text22"><span>Otra cantidad:</span></span>
      <div class="isolated-wallet-frame">
        <input type="number" id="quantity" name="quantity" min="1" max="5">
        <!--<span class="isolated-wallet-text24">0</span>-->
      </div>
    </div>
  </div>
</div>
