<div class="container">
  <div class="row">
    <div class="offset-md-2 col-lg-5 col-md-7 offset-lg-4 offset-md-3">
      <div class="panel border bg-white">
        <div class="panel-heading">
          <h3 class="pt-3 font-weight-bold">
          Puma Puntos
          </h3>
          <div class="card">
            <p> </p>
            <h4>Balance Total</h4>
            <h2>${{this.monedero.pumaPuntos}}</h2>
            <span> </span>
            <div>
              <span class="fa fa-user p-2"></span>
              <span> {{this.usuario.nombre}} {{this.usuario.apellidos}} </span>
              <p> {{this.usuario.noCT}} </p>
            </div>
          </div>
          <div class="panel-body">
            <form [formGroup]="sumaRestaGroup">
              <div class="form-group">
                <div  class="btn-group btn-group-toggle" data-toggle="buttons">
                  <label class="btn btn-secondary active">
                    <input formControlName="defCantidad" value="10" type="radio" name="defCantidad" autocomplete="off"> 10
                  </label>
                  <label class="btn btn-secondary">
                    <input formControlName="defCantidad" value="15" type="radio" name="defCantidad"  autocomplete="off"> 15
                  </label>
                  <label class="btn btn-secondary">
                    <input formControlName="defCantidad" value="20" type="radio" name="defCantidad" autocomplete="off"> 20
                  </label>
                  <label class="btn btn-secondary">
                    <input formControlName="defCantidad" value="100" type="radio" name="defCantidad" autocomplete="off"> 100
                  </label>
                </div>
              </div>
              <div class="form-group pt-2">
                <div class="input-field">
                  <span class="fa fa-usd p-2"></span>
                  <input formControlName="otraCantidad" type="number" placeholder="Otra cantidad ...">
                </div>
              </div>
              <div class="form-group">
                <div class="btn-group btn-group-toggle" data-toggle="sumar-restar">
                  <label class="btn btn-secondary active">
                    <input formControlName="opcion" value="sumar" type="radio" name="opcion" id="sumarPumaPuntos" autocomplete="off" checked> +
                  </label>
                  <label class="btn btn-secondary">
                    <input formControlName="opcion" value="restar" type="radio" name="opcion" id="restarPumaPuntos" autocomplete="off"> -
                  </label>
                </div>
              </div>
              <button [disabled]="sumaRestaGroup.invalid" (click)="onSubmit()" type="submit" class="btn btn-primary btn-block mt-4 w-100">Actualizar</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
