:host { 
  display: contents; 
}
.isolated-wallet-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.isolated-wallet-rectangle25 {
  top: 151px;
  left: 570px;
  width: 532px;
  height: 655px;
  position: absolute;
  border-color: transparent;
  border-radius: 10px;
}
.isolated-wallet-btn1 {
  top: 702px;
  left: 615px;
  width: 441px;
  height: 60px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(233, 114, 61, 1);
}
.isolated-wallet-text {
  top: 18px;
  left: 163px;
  color: var(--dl-color-default-backgroundcolor);
  width: 115px;
  height: auto;
  position: absolute;
  font-size: 21px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Roboto;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.isolated-wallet-cross {
  top: 184px;
  left: 1052px;
  width: 20px;
  height: 20px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.isolated-wallet-vector {
  top: 0px;
  left: 0px;
  width: 20px;
  height: 20px;
  position: absolute;
}
.isolated-wallet-text02 {
  top: 200px;
  left: 616px;
  color: rgba(0, 0, 0, 1);
  width: 319px;
  height: auto;
  position: absolute;
  font-size: 23px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Roboto;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.isolated-wallet-card {
  top: 264px;
  left: 659px;
  width: 354.8375244140625px;
  height: 214.3999481201172px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.isolated-wallet-cardbackgroundframe2 {
  top: 40.70436096191406px;
  left: 1.999986171722412px;
  width: 334px;
  height: 175px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 15px;
  background-color: rgba(174, 173, 173, 0.7400000095367432);
}
.isolated-wallet-cardbackgroundframe1 {
  top: 0.000014036893844604492px;
  left: 21.32713508605957px;
  width: 334px;
  height: 175px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 15px;
  background-color: rgba(174, 173, 173, 0.7400000095367432);
}
.isolated-wallet-cardframe {
  top: 19.00001335144043px;
  left: 9.999985694885254px;
  width: 335px;
  height: 175px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 15px;
  background-color: rgba(243, 243, 243, 1);
}
.isolated-wallet-text04 {
  top: 20px;
  left: 22px;
  color: rgba(86, 86, 86, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Readex Pro;
  font-weight: 500;
  line-height: 120.00000476837158%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.isolated-wallet-text06 {
  top: 132px;
  left: 21px;
  color: rgba(86, 86, 86, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Readex Pro;
  font-weight: 500;
  line-height: 120.00000476837158%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.isolated-wallet-text08 {
  top: 115px;
  left: 21px;
  color: rgba(86, 86, 86, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Readex Pro;
  font-weight: 500;
  line-height: 120.00000476837158%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.isolated-wallet-text10 {
  top: 50px;
  left: 22px;
  color: rgba(50, 50, 50, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Readex Pro;
  font-weight: 500;
  line-height: 160.0000023841858%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.isolated-wallet-eclispe {
  top: 128px;
  left: 267px;
  width: 45px;
  height: 30px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.isolated-wallet-ellipse2 {
  top: 0px;
  left: 15px;
  width: 30px;
  height: 30px;
  position: absolute;
  border-color: transparent;
}
.isolated-wallet-ellipse1 {
  top: 0px;
  left: 0px;
  width: 30px;
  height: 30px;
  position: absolute;
  border-color: transparent;
}
.isolated-wallet-sumar {
  top: 603px;
  left: 873px;
  width: 40px;
  display: flex;
  padding: 8px;
  position: absolute;
  box-shadow: 0px 4px 4px 0px rgba(177, 177, 177, 0.800000011920929) ;
  align-items: flex-start;
  border-color: transparent;
  border-radius: 15px;
  background-color: rgba(230, 230, 230, 1);
}
.isolated-wallet-plus {
  width: 24px;
  height: 24px;
  position: relative;
}
.isolated-wallet-restar {
  top: 603px;
  left: 956px;
  width: 40px;
  display: flex;
  padding: 20px 10px;
  position: absolute;
  box-shadow: 0px 4px 4px 0px rgba(177, 177, 177, 0.800000011920929) ;
  align-items: flex-start;
  border-color: transparent;
  border-radius: 15px;
  background-color: rgba(230, 230, 230, 1);
}
.isolated-wallet-line1 {
  width: 20px;
  height: 0px;
  position: relative;
}
.isolated-wallet-acumular {
  top: 495px;
  left: 638px;
  width: 397px;
  display: flex;
  padding: 10px;
  position: absolute;
  align-items: center;
  border-color: transparent;
  border-radius: 15px;
  justify-content: center;
  background-color: rgba(50, 50, 50, 1);
}
.isolated-wallet-daily {
  display: flex;
  padding: 8px 19px;
  position: relative;
  align-items: center;
  border-color: rgba(243, 243, 243, 1);
  border-style: solid;
  border-width: 1px;
  margin-right: 10px;
  border-radius: 15px;
  justify-content: center;
  background-color: rgba(50, 50, 50, 1);
}
.isolated-wallet-text12 {
  color: rgba(243, 243, 243, 1);
  height: auto;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Readex Pro;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.isolated-wallet-weekly {
  display: flex;
  padding: 8px 19px;
  position: relative;
  align-items: center;
  border-color: rgba(243, 243, 243, 1);
  border-style: solid;
  border-width: 1px;
  margin-right: 10px;
  border-radius: 15px;
  justify-content: center;
  background-color: rgba(50, 50, 50, 1);
}
.isolated-wallet-text14 {
  color: rgba(243, 243, 243, 1);
  height: auto;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Readex Pro;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.isolated-wallet-daily1 {
  display: flex;
  padding: 8px 19px;
  position: relative;
  align-items: center;
  border-color: rgba(233, 184, 60, 1);
  border-style: solid;
  border-width: 1px;
  margin-right: 10px;
  border-radius: 15px;
  justify-content: center;
  background-color: rgba(50, 50, 50, 1);
}
.isolated-wallet-text16 {
  color: rgba(243, 243, 243, 1);
  height: auto;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Readex Pro;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.isolated-wallet-weekly1 {
  display: flex;
  padding: 8px 19px;
  position: relative;
  align-items: center;
  border-color: rgba(243, 243, 243, 1);
  border-style: solid;
  border-width: 1px;
  margin-right: 10px;
  border-radius: 15px;
  justify-content: center;
  background-color: rgba(50, 50, 50, 1);
}
.isolated-wallet-text18 {
  color: rgba(243, 243, 243, 1);
  height: auto;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Readex Pro;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.isolated-wallet-monthly {
  display: flex;
  padding: 8px 19px;
  position: relative;
  align-items: center;
  border-color: transparent;
  border-radius: 15px;
  justify-content: center;
  background-color: rgba(243, 243, 243, 1);
}
.isolated-wallet-text20 {
  color: rgba(50, 50, 50, 1);
  height: auto;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Readex Pro;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.isolated-wallet-o-b-forms-nombre {
  top: 571px;
  left: 673px;
  width: 156px;
  height: 84px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.isolated-wallet-o-b-forms-nombre1 {
  top: 0px;
  left: 0px;
  width: 156px;
  height: 84px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.isolated-wallet-text22 {
  top: 1px;
  color: rgba(0, 0, 0, 1);
  width: 156px;
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 28px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.isolated-wallet-frame {
  top: 28px;
  left: 0px;
  width: 156px;
  display: flex;
  padding: 10px 15px;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(90, 90, 90, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
.isolated-wallet-text24 {
  color: rgba(177, 177, 177, 1);
  height: auto;
  font-size: 14px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 28px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
