<div class="rentarProducto">
  <div class="nombreProducto">Detalles de la Renta</div>
  <img src="/assets/res/images/{{renta.producto.imagen}}"
    onerror="this.onerror=null; this.src='/assets/res/images/default_img.jpg'"
    alt="ImagenProducto-{{renta.producto.codigo}}" class="imagenProducto">
  <div class="tabla">
      <table class="table">
          <thead class="table-dark">
            <tr>
              <th scope="col">ID Renta</th>
              <th scope="col">Producto</th>
              <th scope="col">Tipo de Producto</th>
              <th scope="col">Fecha de renta</th>
              <th scope="col">Fecha de entrega</th>
              <th scope="col">Status de la renta</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">{{renta.id}}</th>
              <td>{{renta.producto.nombre}}</td>
              <td>{{renta.producto.tipo}}</td>
              <td>{{renta.fecha_renta}}</td>
              <td>{{renta.fecha_entrega}}</td>
              <td>{{rentado()}}</td>
            </tr>
            
          </tbody>
        </table>
  </div>
</div>