<app-busqueda></app-busqueda>
<app-navegacion></app-navegacion>
<div class="rentarProducto">
    <div class="nombreProducto">Detalles de la Renta</div>
    <img src="/assets/images/imagenProducto.png" alt="ImagenProducto" class="imagenProducto">
   
    <div class="tabla">
        <table class="table">
            <thead class="table-dark">
              <tr>
                <th scope="col">ID Renta</th>
                <th scope="col">Producto</th>
                <th scope="col">Tipo de Producto</th>
                <th scope="col">Fecha de renta</th>
                <th scope="col">Fecha de entrega</th>
                <th scope="col">Status de la renta</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Programation-Zoe</td>
                <td>Disco</td>
                <td>16-10-22</td>
                <td>24-10-22</td>
                <td>Sin entregar</td>
              </tr>
              
            </tbody>
          </table>
    </div>
    
    
    <div class="botonRentar">
        <button class="boton">RENTAR</button>
    </div>
</div>