a {
    display: block;
    color: #000;
    padding: 4px 12px;
    text-decoration: none;
    margin: 2px;
    border-radius: 6px;
    border: 1px solid transparent;
}

a.active {
    background-color: #139bd1;
    color: white;
    margin: 4px;
    border-radius: 6px;
    border: 2px solid transparent;
}

a:hover:not(.active) {
    background-color: rgb(163, 163, 163);
    margin: 4px;
    border-radius: 6px;
    border: 2px solid transparent;
}

.menu-admin-site {
    display: block;
}

.menu-div {
    display: flex;
    align-items: center;
    justify-content: left;
    margin: 6px;
    border-radius: 6px;
    border: 6px solid transparent;
    padding-bottom: 5px;
    border-bottom: 1px solid #000;
}

.menu-op-admin {
    padding-left: 25px;
    display: flex;
    align-items: center;
    justify-content: left;
}

.menu-text {
    padding-top: 3px;
    padding-left: 5px;
    font-style: Medium;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 16px;
    text-align: left;
}

img {
    max-width: 100%
}

.menu-vector {
    padding-left: 5px;
    flex-basis: 20%;
}