<div  class="verProducto">
    <div class="nombreProducto">{{ producto.nombre }}</div>
    <img src="/assets/res/images/{{producto.imagen}}"
    onerror="this.onerror=null; this.src='/assets/res/images/default_img.jpg'"
    alt="ImagenProducto-{{producto.codigo}}" class="imagenProducto">
    <div class="descripcion">Descripción:
        <p class="descripcionTexto">
            <br>{{producto.descripcion}}
        </p>
    </div>
    <div class="precio">Precio:
        <img src="/assets/images/pumaPuntitosIcon.svg" alt="PumaPuntitosIcono" class="pumaPuntitos">
        <div class="cantidad">{{producto.precio}}</div>
    </div>
    <div class="disponibles">Disponibles: {{ producto.currentStock }} / {{ producto.stockInicial }}</div>
    <div class="renta">Renta por: {{ producto.periodoRenta }} días</div>
    <div class="codigo">Código: {{ producto.codigo }}</div>
    <div class="botonRentar">
        <button class="boton" (click)="rentar()" [disabled]="producto.currentStock == 0">RENTAR</button>
    </div>
</div>