.verProducto {
    position: absolute;
    width: 80%;
    left: 20%;
}

.nombreProducto {
    position: absolute;
    width: 959px;
    height: 62px;
    left: 62px;
    top: 40px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #000000;
}

.imagenProducto {
    position: absolute;
    width: 320px;
    height: 350px;
    left: 62px;
    top: 104px;
    object-fit: fill;
}

.descripcion {
    position: absolute;
    width: 600px;
    height: 310px;
    left: 442px;
    top: 104px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
}

.descripcionTexto {
    top: 40px;
    font-family: 'Tajawal';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    display: block;
    color: #000000;
}

.precio {
    position: absolute;
    width: 120px;
    height: 20px;
    left: 442px;
    top: 440px;
    font-family: 'Tajawal';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
}

.pumaPuntitos {
    position: absolute;
    width: 20px;
    height: 16px;
    left: 60px;
    top: 1px;
}

.cantidad {
    position: absolute;
    left: 77px;
    top: 1px;
    font-family: 'Tajawal';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #000000;

}

.disponibles {
    position: absolute;
    width: 190px;
    height: 20px;
    left: 642px;
    top: 440px;
    font-family: 'Tajawal';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
}

.renta {
    position: absolute;
    width: 142px;
    height: 20px;
    left: 901px;
    top: 440px;
    font-family: 'Tajawal';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
}

.codigo {
    position: absolute;
    width: 210px;
    height: 20px;
    left: 157px;
    top: 514px;
    font-family: 'Tajawal';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
}

.botonRentar {
    position: absolute;
    width: 165px;
    height: 55px;
    left: 704px;
    top: 490px;
    border-radius: 21px;
}

.boton {
    position: absolute;
    width: 159px;
    height: 46px;
    background: #E9B93D;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.28);
    border-radius: 21px;
    border-color: #E9B93D;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 33px;
    text-align: center;
    color: #FFFFFF;
}

.boton:disabled,
.boton[disabled]{
    background: #e29b9b;
    border-color: #e29b9b;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.28);
}