<div class="ver-usr-container">

    <div class="ver-usr-ver-usuarios">

        <form action="" class="ver-usr-search-bar">
            <input type="text" class="ver-usr-content input" id="search" name="search" placeholder="Buscar Usuarios...">
            <input type="submit" class="ver-usr-buscar button" value="Buscar">
        </form>

        <button type="button" onclick="" class="ver-usr-agregar-usr button">
            <img class="ver-usr-oplus" alt="oplus" src="/assets/playground_assets/carbonaddalt2093-or1v.svg" />
            <span class="ver-usr-add-usr">Agregar usuario</span>
        </button>
    </div>
</div>