:host {
  display: contents;
}

img {
  max-width:30px;
}

.ver-usr-container {
  width: 80%;
  left: 20%;
  position: absolute;  
}

.ver-usr-agregar-usr {
  right:5%;  
  top:40px;
  width: 180px;
  height: 40px;  
  position: absolute;    
  display: flex;
  align-items: center;
  justify-content: left;  
  flex-shrink: 1;    
  border-radius: 8px;  
  border: 1px solid transparent;
  background-color: rgba(233, 114, 61, 1);
}

.ver-usr-add-usr {  
  left: 15px;
  color: rgb(255, 255, 255);
  width: 180px;
  position: absolute;
  font-size: medium;  
  font-weight: 600;
  font-family: 'Trebuchet MS', sans-serif;    
  text-decoration: none;
}

.ver-usr-oplus {  
  left: 10px;
  width: 15%;
  height: auto;
  position: absolute;
}

.ver-usr-search-bar {  
  left: 5%;  
  top:40px;
  width: auto;
  height: 45px;
  padding: 5px;  
  display: flex;  
  position: absolute;
  align-items: center;
  justify-content: left;  
  border-color: transparent;
  border-radius: 5px;
  background-color: rgba(168, 168, 168, 0.30000001192092896);
}

.ver-usr-content {
  height: 36px;  
  padding: 8px;  
  margin-right: 8px;
  border-color: transparent;  
  border-radius: 6px;
  background-color: rgba(245, 245, 245, 1);
}

.ver-usr-busq-usr {
  color: rgba(60, 60, 67, 0.898);  
  font-size: 16px;      
  font-family: 'Trebuchet MS', sans-serif;  
  text-decoration: none;
}

.ver-usr-buscar {
  color: #139bd1;  
  font-size: 16px;  
  font-family: 'Trebuchet MS', sans-serif;
  border-width: 0px;    
  background-color:  rgba(168, 168, 168, 0); 
  text-decoration: none;
}

table {
  left: 50px;
  top: 120px;
  position: absolute;      
  border-collapse: collapse;
  width: 90%;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

tbody tr:hover {background-color: coral;}

.small-space {  
  height: 50px;  
}

.clickable {
  cursor: pointer;
}

a {
  cursor: pointer;
}
