<div class="ver-perfil-container">
    <div class="ver-perfil-ver-perfil">        
        <div class="izq">
            <div class="ver-perfil-productos"> 
                <div class="ver-perfil-rent">                
                    <span class="ver-perfil-rentas">Productos rentados</span>
                </div>
                <div class="ver-perfil-dev"> 
                    <div class="ver-perfil-cad">
                        <span class="ver-perfil-text41">Productos por</span>
                        <span class="ver-perfil-text42"> devolver</span>
                    </div>
                </div>
            </div>            
        </div>
        <div class="ver-perfil-perfil">                                    
            <form class="ver-perfil-personal"> 
                <h2 class="ver-perfil-text32">Ver Perfil</h2> 
                <div class="ver-perfil-head">
                    <img src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/ca774172-2bce-42e9-abca-63b1150facb4/fa2f9a33-f8be-4321-a9e2-3b1629213817?org_if_sml=18665"
                        alt="Ellipse39594" class="ver-perfil-ellipse3" />
                    <span class="ver-perfil-text38"><span>Alumno</span></span>                
                </div>
                <div class="ver-perfil-noCT">                    
                    <label class="ver-perfil-text36">No. de cuenta o trabajador</label>
                    <input type="number" class="ver-perfil-text34" placeholder="0123456789" readonly>                                  
                </div>                                
                <div class="ver-perfil-nombre">                                                                
                    <label class="ver-perfil-text20">Nombre</label>                    
                    <input type="text" class="ver-perfil-text16" placeholder="Mónica" readonly>
                    <label class="ver-perfil-text22">Apellidos</label>
                    <input type="text" class="ver-perfil-text18" placeholder="Miranda Mijangos" readonly>
                </div>
                <div class="ver-perfil-correo">
                    <label class="ver-perfil-text24">Correo</label>                    
                    <input type="text" class="ver-perfil-text26" placeholder="monmm@ciencias.unam.mx" readonly>                    
                </div>
                <div class="ver-perfil-telefono">                    
                    <label class="ver-perfil-text30">Telefono</label>
                    <input type="number" class="ver-perfil-text28" placeholder="55 01 23 45 67" readonly>                    
                </div>
                <div class="ver-perfil-carrera">                    
                    <label class="ver-perfil-text14">Carrera</label>
                    <input class="ver-perfil-text12" placeholder="Ciencias de la Computación" readonly>                                            
                </div>
                <div class="ver-perfil-pumapuntos">
                    <h5 class="ver-perfil-text">Puma Puntos</h5>                                    
                    <h6 class="ver-perfil-text06">Septiembre</h6>
                    <h6 class="ver-perfil-text08">Balance</h6>
                    <span class="ver-perfil-text02"><span>122.00</span></span>    
                    <h6 class="ver-perfil-text10">Fecha</h6>
                    <span class="ver-perfil-text04"><span>12/09/2022</span></span>
                </div>
            </form>            
        </div>                
    </div>
</div>