<header>
  <div class="top-container">
    <div class="top-search">
      <a routerLinkActive="active" routerLink="productos/srch-user-prod">
        <button
          class="btn-srch-user-prod"    
          type="button"
          title="BuscarGeneral">
          <i class='fa fa-search'></i>
          Buscar Productos
        </button>
      </a>
    </div>
    <div class="top-balance">
      <p class="top-text">Puma Puntos</p>
      <!-- Llamar la funcion para obtener el balance actual de pumapts del usr -->
      <div class="top-pumapts">
        <div class="top-coin">
          <img alt="coin" src="/assets/playground_assets/ellipse48881-ck78-200h.png" />
        </div>
        <div class="top-points">{{monedero.pumaPuntos}}</div>
      </div>
    </div>
  </div>
</header>