<header>
  <div class="top-container">
    <div class="top-search">
      <form action="" method="">
        <a routerLinkActive="active" routerLink="productos/srch-user-prod">
          <div class="menu-op-admin">
              <!--
              <div class="msenu-vector">
                <img alt="ver-prod" src="/assets/playground_assets/image128877-leal-200w.png" />
              </div>
              -->
              <div class="menu-text">Buscar Productos</div>
          </div>
      </a>
      </form>
    </div>
    <div class="top-balance">
      <p class="top-text">Puma Puntos</p>
      <!-- Llamar la funcion para obtener el balance actual de pumapts del usr -->
      <div class="top-pumapts">
        <div class="top-coin">
          <img alt="coin" src="/assets/playground_assets/ellipse48881-ck78-200h.png" />
        </div>
        <div class="top-points">500</div>
      </div>
    </div>
  </div>
</header>