<header>
  <div class="top-container">
    <!-- Realizar petición del input -->
    <form action="" method="">
      <input type="text" class="top-input" placeholder="Buscar Productos...">
      <input type="image" class="top-len" alt="len" src="assets/playground_assets/image138881-e2nj-200w.png" />
    </form>
    <div class="top-balance">
      <span class="top-pumapts">Puma Puntos</span>
      <!-- Llamar la funcion para obtener el balance actual de pumapts del usr -->
      <span class="top-balance1"><span>122.00</span></span>
      <img alt="coin" src="/assets/playground_assets/ellipse48881-ck78-200h.png" class="top-coin" />
    </div>
  </div>
</header>