/* Para el color del fondo */
.outer {
    height: 100vh;
    background: linear-gradient(to top, #ffe0c9 50%, #f69b6e 90%) no-repeat;

    background-image: url("../../assets/images/facultadDeCiencias.jpg");
    background-size: cover;
}

.panel-heading {
    text-align: center;
    margin-bottom: 10px;
}

#forget {
    min-width: 100px;
    margin-left: auto;
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    text-decoration: none;
}

.form-inline label {
    padding-left: 10px;
    margin: 0;
    cursor: pointer;
}

.btn {
    margin-top: 20px;
    border-radius: 5px;
    background-color: #f69b6e;
}

.panel {
    min-height: 380px;
    box-shadow: 20px 20px 80px rgb(218, 218,218);
    border-radius: 12px;
    margin-top: 100px;
}

.input-field {
    border-radius: 5px;
    padding: 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
    border: 1px solid #ddd;
    color: #4343ff;
}

.input-field.error {
    border: 1px solid red;
    color: red;
}

input[type='text'],
input[type='password'] {
    border: none;
    outline: none;
    box-shadow: none;
    width: 100%;
}

.fa-eye-slash.btn {
    border: none;
    outline: none;
    box-shadow: none;
}

/* Popup container */
.popup{
    text-align: center;
    position: relative;
    display: inline-block;
  }
  
  /* The actual popup (appears on top) */
  .popup .popuptext{
    visibility: hidden;
    width: 600px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: -50%;
    margin-left: -400px;
  }
  
  /* Popup arrow */
  .popup .popuptext::after{
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  /* Toggle this class when clicking on the popup container (hide and show the popup)*/
   .popup .show{
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
  }
  
  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }
