<div class="rectangle-1">
    <div class="bar">
        <div class="barra">
            <form>
                <div class="rectangle-2">
                    <input
                    type="text"
                    placeholder="Buscar Productos"
                    [(ngModel)]="entrada"
                    [formControl]="control"
                    name="buscar">
                </div>
                <div class="rectangle-busqueda">
                    <button
                    type="button"
                    id="btn_busqueda"
                    class="btn_busqueda"
                    title="Buscar"
                    role="button"
                    disabled
                    (click)="iniciarBusqueda()">
                        <i class='fa fa-search'></i>
                    </button>
                </div>
            </form>
        </div>
        <div class="balance">
            <div class="ellipse"></div>
            <div class="puma-puntos">Puma puntos</div>
            <div class="cantidad">122.00</div>
        </div>
    </div>
</div>
<!--
    routerLink="prod-usuario"
-->