@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.rectangle-1 {
    position: absolute;
    width: 1440px;
    height: 104px;
    left: 0px;
    top: 0px;
    background: #F5F5F5;
}

.bar {
    position: absolute;
    width: 1009px;
    height: 65px;
    left: 393px;
    top: 20px;
}

.barra {
    position: absolute;
    width: 631px;
    height: 65px;
    left: 8px;
    top: 0px;
}

.busqueda {
    position: absolute;
    width: 232px;
    height: 19px;
    left: 41px;
    top: 24px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #A3A3A3;
}

.rectangle-2 input[type=text] {
    box-sizing: border-box;
    position: absolute;
    width: 564px;
    height: 65px;
    left: 0px;
    top: 0px;
    padding-left: 41px;
    background: #FFFFFF;
    border: 1px solid #E2E2E2;
    border-radius: 5px;
}

.ellipse {
    position: absolute;
    width: 22px;
    height: 22px;
    left: 868px;
    top: 32px;
    border-radius: 50%;
    background: #E9B93D;
}

.puma-puntos {
    position: absolute;
    width: 130px;
    height: 18px;
    left: 868px;
    top: 6px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #5A5A5A;
}

.cantidad {
    position: absolute;
    width: 110px;
    height: 36px;
    left: 899px;
    top: 27px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 30px;
    color: #000000;
}