<div class="agregar-prd-container">
    <h4 class="agregar-prd-text">Agregar Producto</h4>
    <form [formGroup]="agregForm" class="form-horizontal" (ngSubmit)="create()">
        <div class="izq">
            <div class="form-group">
                <label class="control-label">Nombre</label>
                <input type="text" formControlName="nombre"
                    class="form-control" [(ngModel)]="producto.nombre">
            </div>
            <div *ngIf="agregForm.controls['nombre'].invalid && (agregForm.controls['nombre'].dirty || agregForm.controls['nombre'].touched)"
                class="error">
                <small *ngIf="agregForm.controls['nombre'].errors.required">
                    Campo requerido.
                </small>
            </div>
            <div class="form-group">
                <label class="control-label">Código</label>
                <input type="text" formControlName="codigo" pattern="[a-zA-Z1-9-_.][a-zA-Z0-9-_.]{12}" class="form-control" [(ngModel)]="producto.codigo">
            </div>
            <div *ngIf="agregForm.controls['codigo'].invalid && (agregForm.controls['codigo'].dirty || agregForm.controls['codigo'].touched)"
                class="error">
                <small *ngIf="agregForm.controls['codigo'].errors.required">
                    Campo requerido.
                </small>
                <small *ngIf="agregForm.controls['codigo'].errors?.['pattern'] ">
                    El codigo de un producto debe tener una longitud de 12 y no debe comenzar con 0.
                </small>
            </div>
            <div class="form-group">
                <label class="control-label">Stock</label>
                <input type="number" formControlName="stockInicial" class="form-control" pattern="[0-9]*" min="0" [(ngModel)]="producto.stock_inicial">
            </div>
            <div *ngIf="agregForm.controls['stockInicial'].invalid && (agregForm.controls['stockInicial'].dirty || agregForm.controls['stockInicial'].touched)"
                class="error">
                <small *ngIf="agregForm.controls['stockInicial'].errors.required">
                    Campo requerido.
                </small>
                <small *ngIf="agregForm.controls['stockInicial'].errors?.['pattern'] ">
                    El stock solo pueden ser numeros positivos.
                </small>
            </div>
            <div class="form-group">
                <label class="control-label">Precio</label>
                <input type="number" formControlName="precio" class="form-control" pattern="[0-9]*" min="0" max="500" [(ngModel)]="producto.precio">
            </div>
            <div *ngIf="agregForm.controls['precio'].invalid && (agregForm.controls['precio'].dirty || agregForm.controls['precio'].touched)"
                class="error">
                <small *ngIf="agregForm.controls['precio'].errors.required">
                    Campo requerido.
                </small>
                <small *ngIf="agregForm.controls['precio'].errors?.['max'] ">
                    El precio de un producto debe valer entre 0 y 500 pumapuntos.
                </small>
                <small *ngIf="agregForm.controls['precio'].errors?.['min'] ">
                    El precio de un producto debe valer entre 0 y 500 pumapuntos.
                </small>
            </div>
        </div>
        <div class="der">
            <div class="form-group">
                <label class="control-label">Descripcíon</label>
                <input type="text" formControlName="descripcion" class="form-control" [(ngModel)]="producto.descripcion">
            </div>
            <div *ngIf="agregForm.controls['descripcion'].invalid && (agregForm.controls['descripcion'].dirty || agregForm.controls['descripcion'].touched)"
                class="error">
                <small *ngIf="agregForm.controls['descripcion'].errors.required">
                    Campo requerido.
                </small>
            </div>
            <div class="form-group">
                <label class="control-label">Categoria</label>
                <input type="text" formControlName="categoria" class="form-control" [(ngModel)]="producto.categoria">
            </div>
            <div *ngIf="agregForm.controls['categoria'].invalid && (agregForm.controls['categoria'].dirty || agregForm.controls['categoria'].touched)"
                class="error">
                <small *ngIf="agregForm.controls['categoria'].errors.required">
                    Campo requerido.
                </small>
            </div>
            <div class="form-group">
                <label class="control-label">Tipo</label>
                <input type="text" formControlName="tipo" class="form-control" [(ngModel)]="producto.tipo">
            </div>
            <div *ngIf="agregForm.controls['tipo'].invalid && (agregForm.controls['tipo'].dirty || agregForm.controls['tipo'].touched)"
                class="error">
                <small *ngIf="agregForm.controls['tipo'].errors.required">
                    Campo requerido.
                </small>
            </div>
            <div class="form-group">
                <label class="control-label">Días para rentar</label>
                <input type="number" formControlName="periodoRenta" class="form-control" pattern="[3-7]*" min="3" max="7" [(ngModel)]="producto.periodo_renta">
            </div>
            <div *ngIf="agregForm.controls['periodoRenta'].invalid && (agregForm.controls['periodoRenta'].dirty || agregForm.controls['periodoRenta'].touched)"
                class="error">
                <small *ngIf="agregForm.controls['periodoRenta'].errors.required">
                    Campo requerido.
                </small>
                <small *ngIf="agregForm.controls['periodoRenta'].errors?.['min'] ">
                    El periodo de Renta de un producto debe ser entre 3 y 7 días.
                </small>
                <small *ngIf="agregForm.controls['periodoRenta'].errors?.['max'] ">
                    El periodo de Renta de un producto debe ser entre 3 y 7 días.
                </small>
            </div>
            <div class="form-group">
                <label class="control-label">Imagen</label>
                <input type="text" formControlName="imagen" class="form-control" [(ngModel)]="producto.imagen">
            </div>
            <div *ngIf="agregForm.controls['imagen'].invalid && (agregForm.controls['imagen'].dirty || agregForm.controls['imagen'].touched)"
                class="error">
                <small *ngIf="agregForm.controls['imagen'].errors.required">
                    Campo requerido   (ejem: imagen1.png)
                </small>
            </div>
        </div>
        <input type="hidden" id="vflag" value="no">
        <p id="success"></p>
        <div class="center">
            <input type="submit" value="Agregar producto">
        </div>
    </form>
    <div class="small-space"></div>
</div>