<!--<nav class="menu-nav">-->
<div class="sidenav">
  <div class="menu-ver-perfil">
    <!-- Obtener la img del usr -->
    <img alt="profile-ph" src="/assets/playground_assets/image78863-bjua-200h.png" class="menu-usr-img" />
    <!-- Obtener el nombre del usr -->
    <span class="menu-name">Mónica Miranda</span>
    <form action="" method="">
      <input type="image" alt="VerPerfil" src="/assets/playground_assets/rectangle82097-b1u.svg"
        class="menu-text-box" />
      <img alt="menu-view" src="/assets/playground_assets/image98876-vei-200h.png" class="menu-view" />
      <span class="menu-profile"><span>Ver Perfil</span></span>
    </form>
  </div>
  <div class="small-space"></div>
  <div class="menu-options">
    <a routerLinkActive="active" routerLink="productos">
      <div class="menu-op">
        <div class="menu-vector">
          <img alt="home" src="/assets/playground_assets/pastedimage-qh8.svg" />
        </div>
        <div class="menu-text">Inicio</div>
      </div>
    </a>
    <a routerLinkActive="active" href="">
      <div class="menu-op">
        <div class="menu-vector">
          <img alt="history" src="/assets/playground_assets/image108877-cb1g-200w.png" />
        </div>
        <div class="menu-text">Historial de productos</div>
      </div>
    </a>
  </div>
  <div class="small-space"></div>
  <div class="line"></div>
  <!-- Conviene poner esto en otro component? -->
  <div class="menu-admin-site">
    <div class="menu-div">
      <div class="menu-vector">
        <img alt="admin" src="/assets/playground_assets/frame28879-lh5.svg" />
      </div>
      <div class="menu-text">Administración del Sitio</div>
    </div>
    <a routerLinkActive="active" routerLink="usuarios">
      <div class="menu-op-admin">
        <div class="menu-vector">
          <img alt="ver-usr" src="/assets/playground_assets/image118877-zgwg-200h.png" />
        </div>
        <div class="menu-text">Usuarios</div>
      </div>
    </a>
    <a routerLinkActive="active" href="">
      <div class="menu-op-admin">
        <div class="menu-vector">
          <img alt="ver-prod" src="/assets/playground_assets/image128877-leal-200w.png" />
        </div>
        <div class="menu-text">Productos</div>
      </div>
    </a>
    <a routerLinkActive="active" href="">
      <div class="menu-op-admin">
        <div class="menu-vector">
          <img alt="reports" src="/assets/playground_assets/teenyiconscontractoutline2096-9hxk.svg" />
        </div>
        <div class="menu-text">Reportes</div>
      </div>
    </a>
  </div>
  <form action="" method="">
    <button type="button" class="menu-logout">
      <img alt="logout" src="/assets/playground_assets/antdesignlogoutoutlined2096-z1dp.svg"
        class="antdesignlogoutoutlined" />
      Cerrar Sesion
    </button>
  </form>
</div>