<app-header></app-header>
<app-menu></app-menu>
<!-- Opcion 1: Tener este switch para los 3 menus distintos.
     Opcion 2: Tener un if-else (en menu) que solo despliegue el div del administrador/provedor.

<container-element [ngSwitch]="switch_expression">
    <some-element *ngSwitchCase="match_expression_1">
        <app-menu-admin></app-menu-admin>
    </some-element>
    <some-element *ngSwitchCase="match_expression_2">
        <app-menu-prove></app-menu-prove>
    </some-element>
    <some-element *ngSwitchCase="match_expression_3">
        <app-menu></app-menu>
    </some-element>
  </container-element>
-->

<router-outlet></router-outlet>