<div class="editar-usr-container">
  <div class="editar-usr-editar-usr">
    <img
      alt="image409562"
      src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/ca774172-2bce-42e9-abca-63b1150facb4/4cf820cc-dcdd-46d3-a6b5-438cd3fc05da?org_if_sml=1212018"
      class="editar-usr-image40"
    />
    <img
      alt="opacity9541"
      src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/ca774172-2bce-42e9-abca-63b1150facb4/0042ab93-1a31-4831-ad49-89d5bd02e58d?org_if_sml=18471"
      class="editar-usr-opacity"
    />
    <img
      alt="Rectangle259541"
      src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/ca774172-2bce-42e9-abca-63b1150facb4/0fec5e0f-c0f5-48ed-9c9e-73d6ca156c85?org_if_sml=152670"
      class="editar-usr-rectangle25"
    />
    <div class="editar-usr-btn2">
      <span class="editar-usr-text"><span>PumaPuntos</span></span>
    </div>
    <div class="editar-usr-btn1">
      <span class="editar-usr-text02"><span>Actualizar</span></span>
    </div>
    <div class="editar-usr-cross">
      <img
        alt="Vector9541"
        src="/assets/playground_assets/vector9541-9mwhx.svg"
        class="editar-usr-vector"
      />
    </div>
    <div class="editar-usr-datos">
      <div class="editar-usr-o-b-forms-apellido-materno">
        <span class="editar-usr-text04"><span>Apellido Materno</span></span>
        <div class="editar-usr-frame">
          <span class="editar-usr-text06"><span>Valdés</span></span>
        </div>
      </div>
      <div class="editar-usr-o-b-forms-apellido-paterno">
        <span class="editar-usr-text08"><span>Apellido Paterno</span></span>
        <div class="editar-usr-frame1">
          <span class="editar-usr-text10"><span>Nuño</span></span>
        </div>
      </div>
      <div class="editar-usr-o-b-forms-nombre">
        <span class="editar-usr-text12"><span>Nombre</span></span>
        <div class="editar-usr-frame2">
          <span class="editar-usr-text14"><span>Raúl</span></span>
        </div>
      </div>
      <div class="editar-usr-o-b-forms-nmerode-telfono">
        <span class="editar-usr-text16"><span>Número de Teléfono</span></span>
        <div class="editar-usr-frame3">
          <span class="editar-usr-text18"><span>0011223344</span></span>
        </div>
      </div>
      <div class="editar-usr-select">
        <span class="editar-usr-text20"><span>Rol</span></span>
        <div class="editar-usr-text-block">
          <span class="editar-usr-text22 ParagraphIBMPlexSansRegular">
            <span>Proveedor</span>
          </span>
          <img
            alt="mdiarrowdropdownI954"
            src="/assets/playground_assets/mdiarrowdropdowni954-1r2e.svg"
            class="editar-usr-mdiarrowdropdown"
          />
        </div>
      </div>
    </div>
    <span class="editar-usr-text24"><span>Editar Usuario</span></span>
  </div>
  <div class="editar-usr-err-form-editar">
    <img
      alt="image409593"
      src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/ca774172-2bce-42e9-abca-63b1150facb4/445e2ac5-88ed-4a01-9938-fe9effbec79c?org_if_sml=1212018"
      class="editar-usr-image401"
    />
    <img
      alt="opacity9593"
      src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/ca774172-2bce-42e9-abca-63b1150facb4/f1fcf42d-8df5-4698-9c7e-644f6cb86333?org_if_sml=18471"
      class="editar-usr-opacity1"
    />
    <img
      alt="Rectangle259593"
      src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/ca774172-2bce-42e9-abca-63b1150facb4/12119252-1bba-46c5-9efe-4bce7ba2afde?org_if_sml=152670"
      class="editar-usr-rectangle251"
    />
    <div class="editar-usr-btn21">
      <span class="editar-usr-text26"><span>PumaPuntos</span></span>
    </div>
    <div class="editar-usr-btn11">
      <span class="editar-usr-text28"><span>Actualizar</span></span>
    </div>
    <div class="editar-usr-cross1">
      <img
        alt="Vector9593"
        src="/assets/playground_assets/vector9593-pqa.svg"
        class="editar-usr-vector1"
      />
    </div>
    <div class="editar-usr-datos1">
      <div class="editar-usr-o-b-forms-apellido-materno1">
        <span class="editar-usr-text30"><span>Apellido Materno</span></span>
        <div class="editar-usr-frame4">
          <span class="editar-usr-text32"><span>Valdés</span></span>
        </div>
      </div>
      <div class="editar-usr-o-b-forms-apellido-paterno1">
        <span class="editar-usr-text34"><span>Apellido Paterno</span></span>
        <div class="editar-usr-frame5">
          <span class="editar-usr-text36"><span>Nuño</span></span>
        </div>
      </div>
      <div class="editar-usr-o-b-forms-nombre1">
        <span class="editar-usr-text38"><span>Nombre</span></span>
        <div class="editar-usr-frame6">
          <span class="editar-usr-text40"><span>Raúl</span></span>
        </div>
      </div>
      <div class="editar-usr-o-b-forms-nmerode-telfono1">
        <span class="editar-usr-text42"><span>Número de Teléfono</span></span>
        <div class="editar-usr-frame7">
          <span class="editar-usr-text44"><span>550011223344</span></span>
        </div>
      </div>
      <div class="editar-usr-select1">
        <span class="editar-usr-text46"><span>Rol</span></span>
        <div class="editar-usr-text-block1">
          <span class="editar-usr-text48 ParagraphIBMPlexSansRegular">
            <span>Alumno</span>
          </span>
          <img
            alt="mdiarrowdropdownI996"
            src="/assets/playground_assets/mdiarrowdropdowni996-fhvm.svg"
            class="editar-usr-mdiarrowdropdown1"
          />
        </div>
      </div>
    </div>
    <span class="editar-usr-text50"><span>Editar Usuario</span></span>
  </div>
  <div class="editar-usr-exito-editar">
    <img
      alt="image399593"
      src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/ca774172-2bce-42e9-abca-63b1150facb4/aaff0528-1bda-44e7-94f0-c69f9567465f?org_if_sml=1212018"
      class="editar-usr-image39"
    />
    <img
      alt="Rectangle269593"
      src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/ca774172-2bce-42e9-abca-63b1150facb4/47efa301-4d5d-4c4f-a117-a72d50c8b6f7?org_if_sml=126838"
      class="editar-usr-rectangle26"
    />
    <div class="editar-usr-cross2">
      <img
        alt="Vector9593"
        src="/assets/playground_assets/vector9593-art7.svg"
        class="editar-usr-vector2"
      />
    </div>
    <span class="editar-usr-text52">
      <span>Se ha editado correctamente un usuario.</span>
    </span>
    <img
      alt="Check9593"
      src="/assets/playground_assets/check9593-o8yg.svg"
      class="editar-usr-check"
    />
    <img
      alt="Rectangle929593"
      src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/ca774172-2bce-42e9-abca-63b1150facb4/23164141-8da0-4f45-b882-4ad789809fe5?org_if_sml=1244"
      class="editar-usr-rectangle92"
    />
    <span class="editar-usr-text54"><span>Proveedor</span></span>
  </div>
</div>
