:host { 
  display: contents; 
}
.editar-usr-container {
  width: 80%;
  left: 20%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.editar-usr-editar-usr {
  width: 100%;
  height: 1024px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.editar-usr-image40 {
  top: 0px;
  left: 0px;
  width: 1469px;
  height: 1024px;
  position: absolute;
  border-color: transparent;
}
.editar-usr-opacity {
  top: 0px;
  left: 0px;
  width: 1469px;
  height: 1024px;
  position: absolute;
  border-color: transparent;
  border-radius: 5px;
}
.editar-usr-rectangle25 {
  top: 151px;
  left: 570px;
  width: 532px;
  height: 740px;
  position: absolute;
  border-color: transparent;
  border-radius: 10px;
}
.editar-usr-btn2 {
  top: 783px;
  left: 616px;
  width: 440px;
  height: 53px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(255, 255, 255, 1);
}
.editar-usr-text {
  top: 11px;
  left: 160px;
  color: rgba(11, 127, 171, 1);
  width: 174px;
  height: auto;
  position: absolute;
  font-size: 21px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Roboto;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.editar-usr-btn1 {
  top: 702px;
  left: 615px;
  width: 441px;
  height: 60px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(233, 114, 61, 1);
}
.editar-usr-text02 {
  top: 18px;
  left: 163px;
  color: var(--dl-color-default-backgroundcolor);
  width: 115px;
  height: auto;
  position: absolute;
  font-size: 21px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Roboto;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.editar-usr-cross {
  top: 184px;
  left: 1052px;
  width: 20px;
  height: 20px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.editar-usr-vector {
  top: 0px;
  left: 0px;
  width: 20px;
  height: 20px;
  position: absolute;
}
.editar-usr-datos {
  top: 184px;
  left: 615px;
  width: 457px;
  height: 652px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.editar-usr-o-b-forms-apellido-materno {
  top: 234px;
  left: 1px;
  width: 436px;
  height: 84px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.editar-usr-text04 {
  top: 1px;
  color: rgba(0, 0, 0, 1);
  width: 436px;
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 28px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.editar-usr-frame {
  top: 28px;
  left: 0px;
  width: 436px;
  display: flex;
  padding: 10px 15px;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(90, 90, 90, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
.editar-usr-text06 {
  color: rgba(131, 131, 131, 1);
  height: auto;
  font-size: 14px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 28px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.editar-usr-o-b-forms-apellido-paterno {
  top: 150px;
  left: 1px;
  width: 436px;
  height: 84px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.editar-usr-text08 {
  top: 1px;
  color: rgba(0, 0, 0, 1);
  width: 436px;
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 28px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.editar-usr-frame1 {
  top: 28px;
  left: 0px;
  width: 436px;
  display: flex;
  padding: 10px 15px;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(90, 90, 90, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
.editar-usr-text10 {
  color: rgba(131, 131, 131, 1);
  height: auto;
  font-size: 14px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 28px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.editar-usr-o-b-forms-nombre {
  top: 66px;
  left: 1px;
  width: 436px;
  height: 84px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.editar-usr-text12 {
  top: 1px;
  color: rgba(0, 0, 0, 1);
  width: 436px;
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 28px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.editar-usr-frame2 {
  top: 28px;
  left: 0px;
  width: 436px;
  display: flex;
  padding: 10px 15px;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(90, 90, 90, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
.editar-usr-text14 {
  color: rgba(131, 131, 131, 1);
  height: auto;
  font-size: 14px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 28px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.editar-usr-o-b-forms-nmerode-telfono {
  top: 318px;
  left: 1px;
  width: 436px;
  height: 84px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.editar-usr-text16 {
  top: 1px;
  color: rgba(0, 0, 0, 1);
  width: 436px;
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 28px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.editar-usr-frame3 {
  top: 28px;
  left: 0px;
  width: 436px;
  display: flex;
  padding: 10px 15px;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(90, 90, 90, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
.editar-usr-text18 {
  color: rgba(131, 131, 131, 1);
  height: auto;
  font-size: 14px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 28px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.editar-usr-select {
  top: 404px;
  left: 1px;
  width: 436px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  flex-direction: column;
}
.editar-usr-text20 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 16px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 2px;
  text-decoration: none;
}
.editar-usr-text-block {
  width: 436px;
  height: 48px;
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  border-color: rgba(90, 90, 90, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 1);
}
.editar-usr-text22 {
  top: 12px;
  left: 12px;
  color: rgba(3, 3, 3, 1);
  width: 400px;
  height: auto;
  position: absolute;
  align-self: stretch;
  text-align: left;
  line-height: 150%;
  margin-right: 0;
  margin-bottom: 0;
}
.editar-usr-mdiarrowdropdown {
  top: 12px;
  left: 400px;
  width: 24px;
  height: 24px;
  position: absolute;
}
.editar-usr-text24 {
  top: 200px;
  left: 616px;
  color: rgba(0, 0, 0, 1);
  width: 319px;
  height: auto;
  position: absolute;
  font-size: 23px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Roboto;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.editar-usr-err-form-editar {
  width: 100%;
  height: 1024px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.editar-usr-image401 {
  top: 0px;
  left: 0px;
  width: 1469px;
  height: 1024px;
  position: absolute;
  border-color: transparent;
}
.editar-usr-opacity1 {
  top: 0px;
  left: 0px;
  width: 1469px;
  height: 1024px;
  position: absolute;
  border-color: transparent;
  border-radius: 5px;
}
.editar-usr-rectangle251 {
  top: 151px;
  left: 570px;
  width: 532px;
  height: 740px;
  position: absolute;
  border-color: transparent;
  border-radius: 10px;
}
.editar-usr-btn21 {
  top: 783px;
  left: 616px;
  width: 440px;
  height: 53px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(255, 255, 255, 1);
}
.editar-usr-text26 {
  top: 11px;
  left: 160px;
  color: rgba(11, 127, 171, 1);
  width: 174px;
  height: auto;
  position: absolute;
  font-size: 21px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Roboto;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.editar-usr-btn11 {
  top: 702px;
  left: 615px;
  width: 441px;
  height: 60px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(233, 114, 61, 1);
}
.editar-usr-text28 {
  top: 18px;
  left: 163px;
  color: var(--dl-color-default-backgroundcolor);
  width: 115px;
  height: auto;
  position: absolute;
  font-size: 21px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Roboto;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.editar-usr-cross1 {
  top: 184px;
  left: 1052px;
  width: 20px;
  height: 20px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.editar-usr-vector1 {
  top: 0px;
  left: 0px;
  width: 20px;
  height: 20px;
  position: absolute;
}
.editar-usr-datos1 {
  top: 184px;
  left: 615px;
  width: 457px;
  height: 652px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.editar-usr-o-b-forms-apellido-materno1 {
  top: 234px;
  left: 1px;
  width: 436px;
  height: 84px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.editar-usr-text30 {
  top: 1px;
  color: rgba(0, 0, 0, 1);
  width: 436px;
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 28px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.editar-usr-frame4 {
  top: 28px;
  left: 0px;
  width: 436px;
  display: flex;
  padding: 10px 15px;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(90, 90, 90, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
.editar-usr-text32 {
  color: rgba(131, 131, 131, 1);
  height: auto;
  font-size: 14px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 28px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.editar-usr-o-b-forms-apellido-paterno1 {
  top: 150px;
  left: 1px;
  width: 436px;
  height: 84px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.editar-usr-text34 {
  top: 1px;
  color: rgba(0, 0, 0, 1);
  width: 436px;
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 28px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.editar-usr-frame5 {
  top: 28px;
  left: 0px;
  width: 436px;
  display: flex;
  padding: 10px 15px;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(90, 90, 90, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
.editar-usr-text36 {
  color: rgba(131, 131, 131, 1);
  height: auto;
  font-size: 14px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 28px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.editar-usr-o-b-forms-nombre1 {
  top: 66px;
  left: 1px;
  width: 436px;
  height: 84px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.editar-usr-text38 {
  top: 1px;
  color: rgba(0, 0, 0, 1);
  width: 436px;
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 28px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.editar-usr-frame6 {
  top: 28px;
  left: 0px;
  width: 436px;
  display: flex;
  padding: 10px 15px;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(90, 90, 90, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
.editar-usr-text40 {
  color: rgba(131, 131, 131, 1);
  height: auto;
  font-size: 14px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 28px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.editar-usr-o-b-forms-nmerode-telfono1 {
  top: 318px;
  left: 1px;
  width: 436px;
  height: 84px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.editar-usr-text42 {
  top: 1px;
  color: rgba(0, 0, 0, 1);
  width: 436px;
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 28px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.editar-usr-frame7 {
  top: 28px;
  left: 0px;
  width: 436px;
  display: flex;
  padding: 10px 15px;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(234, 74, 74, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
.editar-usr-text44 {
  color: rgba(3, 3, 3, 1);
  height: auto;
  font-size: 14px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 28px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.editar-usr-select1 {
  top: 404px;
  left: 1px;
  width: 436px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  flex-direction: column;
}
.editar-usr-text46 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 16px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 2px;
  text-decoration: none;
}
.editar-usr-text-block1 {
  width: 436px;
  height: 48px;
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  border-color: rgba(90, 90, 90, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 1);
}
.editar-usr-text48 {
  top: 12px;
  left: 12px;
  color: rgba(131, 131, 131, 1);
  width: 400px;
  height: auto;
  position: absolute;
  align-self: stretch;
  text-align: left;
  line-height: 150%;
  margin-right: 0;
  margin-bottom: 0;
}
.editar-usr-mdiarrowdropdown1 {
  top: 12px;
  left: 400px;
  width: 24px;
  height: 24px;
  position: absolute;
}
.editar-usr-text50 {
  top: 200px;
  left: 616px;
  color: rgba(0, 0, 0, 1);
  width: 319px;
  height: auto;
  position: absolute;
  font-size: 23px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Roboto;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.editar-usr-exito-editar {
  width: 100%;
  height: 1024px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.editar-usr-image39 {
  top: 0px;
  left: 0px;
  width: 1469px;
  height: 1024px;
  position: absolute;
  border-color: transparent;
}
.editar-usr-rectangle26 {
  top: 74px;
  left: 1044px;
  width: 396px;
  height: 108px;
  position: absolute;
  border-color: transparent;
  border-radius: 20px;
}
.editar-usr-cross2 {
  top: 116px;
  left: 1399px;
  width: 20px;
  height: 20px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.editar-usr-vector2 {
  top: 0px;
  left: 0px;
  width: 20px;
  height: 20px;
  position: absolute;
}
.editar-usr-text52 {
  top: 103px;
  left: 1144px;
  color: rgba(17, 183, 63, 1);
  width: 255px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Roboto;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.editar-usr-check {
  top: 103px;
  left: 1064px;
  width: 50px;
  height: 50px;
  position: absolute;
}
.editar-usr-rectangle92 {
  top: 892px;
  left: 715px;
  width: 151px;
  height: 47px;
  position: absolute;
  border-color: transparent;
}
.editar-usr-text54 {
  top: 900px;
  left: 726px;
  color: rgba(3, 3, 3, 1);
  width: 106px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 28px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
