.prods{
    position: relative;
    display: block;
    width: 1000px;
    top: 180px;
    left: 400px;
    text-align: left;
}

.prod{
    width: 1000px;
    height: 50px;
    text-align: left;
    border-color: #ffff;
    background-color: #f3f3f3;
}